.card {
  max-width: 413px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0 0;
}

.card__image {
  width: 413px;
  height: 413px;
  display: block;
  border-radius: 8px;
}

.card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 420px;
  margin: 0;
  color: #212121;
}

.card__like-button {
  background-image: url(../images/heart\ Icon.svg);
  height: 20px;
  width: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease-in-out;
}

.card__like-button:hover {
  opacity: 100%;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__image {
    margin: 0 auto;
    height: 288px;
    width: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 1;
    max-width: 288px;
  }

  .card__like-button {
    height: 18px;
  }
}
